    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        height: 100vh; /
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar {
        width: 300px;
        background-color: #f0f0f0;
        padding: 20px;
        box-sizing: border-box;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .logo-a {
        font-size: 14px;
        font-weight: bold;
        color: #333;
    }

    .logo-b {
        font-size: 12px;
        font-weight: lighter;
        margin-bottom: 30px;
        color: #333;
    }

    .user-info {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .user-name {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .user-role {
        font-size: 14px;
        color: #0DAA7B;
    }

    .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0 0 30px 30px;
    }

    .nav-menu li {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    .nav-menu img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }


    .nav-menu a {
        text-decoration: none;
        color: #333;
        padding: 5px 0;
    }

    .nav-menu a:hover {
        color: #23D09C;
    }

    .btn-logout {
        display: inline-block;
        padding: 14px 35px;
        background-color: #23D09C;
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin-left: 30px;
    }

    .btn-logout:hover {
        background-color: #0DAA7B;
    }

    main {
        flex-grow: 1;
        padding: 20px;
    }
    .container {
        max-width: 1800px;
        margin: 0 auto;
        padding: 20px;
    }
    h1 {
        color: #2c3e50;
        border-bottom: 2px solid #3498db;
        padding-bottom: 10px;
    }
    table {
        width: 1200px;
        border-collapse: collapse;
        border: 1px solid #D3D0D0;
        margin-top: 20px;
    }
    th {
        background-color: #28D19E;
        color: white;
        padding: 12px;
        text-align: left;
    }
    td {
        padding: 10px 12px;
        border-bottom: 1px solid #eee;
    }
    tr:hover {
        background-color: #f8f9fa;
    }
    .status-confirmed {
        color: #27ae60;
        font-weight: bold;
    }
    .status-canceled {
        color: #e74c3c;
        font-weight: bold;
    }

    .search-group {
        margin-bottom: 15px;
    }

/*Login*/

    /* Общие стили для страницы логина */
    body.login-page {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /* Логотип в левом верхнем углу */
    .login-logo {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .login-logo img {
        height: 40px;
        width: auto;
    }

    .logo-text {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
    }

    .logo-a {
        font-size: 16px;
        font-weight: bold;
    }

    .logo-b {
        font-size: 14px;
    }

    /* Центральный контейнер с формой */
    .login-container {
        width: 100%;
        max-width: 600px;

    }

    .login-title {
        text-align: center;
        margin-bottom: 50px;
        color: #333;
        font-size: 20px;
        font-weight: 400;
    }

    /* Стили формы */
    .login-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: flex; /* Делаем контейнер Flexbox */
        justify-content: center; /* Выравниваем по горизонтали */
        align-items: center; /* Выравниваем по вертикали (если нужно) */
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .form-input {
        padding: 12px 15px;
        border: 1px solid #ddd;
        font-size: 16px;
        transition: border-color 0.3s;
        width: 450px;
    }

    .form-input:focus {
        outline: none;
        border-color: #aaa;
    }

    /* Стили кнопки */
    .login-button {
        padding: 12px;
        background-color: #23D09C;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 30%; /* Ширина кнопки */
    }

    .login-button:hover {
        background-color: #12B585;
    }

    /* Сообщение об ошибке */
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        text-align: center;
    }





















    /* Блок информации о пользователе */
    .user-info {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;
        margin-bottom: 20px;
    }

    /* Круглый аватар */
    .user-avatar {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-shrink: 0;
    }

    .user-avatar img {
        width: 45px;
        height: 45px;
    }

    /* Блок с текстом */
    .user-details {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    /* ФИО пользователя */
    .user-name {
        font-weight: 600;
        font-size: 14px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: underline;
    }

    /* Роль пользователя */
    .user-role {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-role.admin {
        color: #ff9800; /* Оранжевый для админа */
    }

    .user-role.employee {
        color: #12B585; /* Зеленый для сотрудника */
    }
















